@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';
@use '@/components/TutorialHeader/tutorial-header';
@use '@/components/Info/info';

@use '@/app/home/landing-page';
@use '@/app/repos/repo-page';
@use '@/app/portfolio/portfolio-page';

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  padding: 0;
  //  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.responsive-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}
ul > li {
  line-height: 1.4rem;
  margin-left: 0rem;
}
ul {
  margin-bottom: 1rem;
}
.p-l {
  margin-left: 1.2rem;
}
// horizontal scroll at 671px and lower

// swap to dark
[data-carbon-theme='g90'] {
  @include themes.theme($g90);
}
.dark-mode {
  @include themes.theme($g90);
}
// name the prop that is clicked to add class
